@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&family=Open+Sans&family=Roboto:wght@300&display=swap");
* {
  font-family: "Noto Sans TC", sans-serif;
}

.van-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.van-popup {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0px 18px;
  width: 550px;
  height: 300px;
}
.van-popup label, .van-popup input {
  margin-bottom: 12px;
}
.van-popup label {
  font-size: 12px;
}
.van-popup input {
  background-color: #f3f3f3;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  padding: 6px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}
.btn-container .van-button {
  border: rgb(149, 146, 146);
  width: 64px;
  height: 32px;
  margin-left: 12px;
  font-size: 13px;
}

.nav {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav a {
  text-decoration: none;
}
.nav a:hover {
  text-decoration: underline;
}
.nav a:visited {
  color: rgb(99, 93, 93);
}
.nav .nav-left a {
  margin: 18px;
}
@media (max-width: 560px) {
  .nav .nav-left a {
    display: none;
  }
}
.nav .nav-right a {
  margin: 12px;
}

.google {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  height: 250px;
}
.google .fig {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.google .fig img {
  padding: 24px;
}

.input .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input .form .all-input {
  padding: 12px;
  margin: 18px 48px;
  border: 1px solid #e7dddd;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 561px;
}
@media (max-width: 670px) {
  .input .form .all-input {
    width: 449px;
  }
}
@media (max-width: 560px) {
  .input .form .all-input {
    width: 337px;
  }
}
.input .form .all-input:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.input .form .all-input .form {
  justify-content: center;
}
.input .form .all-input .text {
  display: flex;
  max-height: 24px;
  justify-content: space-around;
  width: 100%;
}
.input .form .all-input .text input {
  padding-left: 18px;
  width: 100%;
  font-size: medium;
  border: none;
  outline: none;
}
.input .form .all-input .text img {
  width: 20px;
  height: 20px;
}
.input .form .all-input .text img.mic:hover {
  cursor: pointer;
}
.input .option {
  display: flex;
  flex-wrap: wrap;
  width: 561px;
  padding: 0px 12px;
  margin: 0px 48px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 670px) {
  .input .option {
    width: 449px;
  }
}
@media (max-width: 560px) {
  .input .option {
    width: 337px;
  }
}
.input .option a {
  min-width: 112px;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: black;
  position: relative;
  z-index: 0;
}
.input .option a:hover {
  background-color: rgb(233, 234, 234);
  cursor: pointer;
}
.input .option a:link {
  color: black;
}
.input .option a .more {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.input .option a .more:hover {
  transition: all 0.5s;
  background-color: rgb(186, 185, 185);
  visibility: visible;
  opacity: 1;
  z-index: 100;
  cursor: pointer;
}
.input .option a .more img {
  width: 16px;
  height: 16px;
}
.input .option a div.title-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
  background-color: rgb(245, 244, 244);
  border-radius: 30px;
}
.input .option a div.title-icon img {
  width: 24px;
  height: 24px;
}
.input .option a div.title-text {
  font-size: 14px;
  padding-top: 18px;
}

.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.lan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */